/* TODO Add site wide styles */
@font-face {
    font-family: Roboto;
    src: url('./Roboto-Regular.ttf');
}

body {
    background-image: url(./reflection-gcbffd5405_1920.jpg);
    font-family: Roboto;
}