.navbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    border-bottom: 2px solid black;
    border-top: 5px solid green;
    background-color: whitesmoke;

}

.navbar-logoname-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar-logo-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar-logo {
    height: 80px;
    width: 80px;
    margin: 5px 15px 5px 20px; 

}

.navbar-troopname {
    color: green;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

.navbar-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.navbar-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 20px 0 20px;
    text-decoration: none;
}