.login-modal-wrapper {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    animation: Login-modal-grow 1s linear;
}

.login-modal-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 20px;
    margin: 10px, 5px, 10px, 5px;
}

.login-modal-inputs > label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
}


.login-modal-inputs > input {
    background-color: gray;
    font-size: 20px;
    margin-bottom: 10px;
}

.login-modal-button {
    height: 50px;
    width: 95px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.login-modal-button:hover {
    background-color: green;
    color: whitesmoke;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-5px);
}

.login-modal-errors {
    color: red;
    font-weight: 700;
}

  
@keyframes Login-modal-grow {
    0% { transform: scale(0%); }
    100% { transform: scale(100%); }
}