.scoutmaster-container {
    width: 350px;
    height: auto;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    padding: 5px 5px 15px 5px;
    margin: 10px;
}

.scoutmaster-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scoutmaster-profile {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 45px;
    margin: 5px;
}

.scoutmaster-title {
    color: green;
    font-size: 24px;
    margin-left: 15px;
}

.scoutmaster-text {
    margin: 5px 5px 5px 10px;
    padding: 0px;
}

.scoutmaster-signature {
    font-family: cursive;
    font-size: 26px;
    margin: 8px 5px 8px 25px;
    padding: none;
}